* {
  box-sizing: border-box;
  color: #420a42;
  text-decoration: none;
  font-family: "Unbounded", sans-serif;
}

body {
  background: lavender;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  min-height: calc(100vh - 200px);
}

footer {
  background-color: lightpink;
  text-align: center;
  padding: 10px;
}

header {
  background-color: lightpink;
  color: rgba(63, 5, 63, 0.535);
  display: flex;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  height: 90px;
  gap: 58%;
  /* gap: 575px; */
  /* gap: 50%; */
}

.brand {
  display: flex;
  justify-content: left;
  margin: 20px;
  align-items: center;
  text-align: center;
}

.brand:hover {
  text-shadow: 0 0 5px lightpink, 0 0 25px lightpink, 0 0 50px #c803f4,
    0 0 100px #c803f4;
}

.nav-bar {
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
  align-items: center;
  gap: 17px;
  list-style: none;
  font-size: 25px;
  font-weight: bold;

  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightpink;
  min-width: 160px;
  z-index: 1;
  list-style: none;
  margin-top: 2px;
}

.dropdown-title:hover {
  text-emphasis: underline;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  gap: 4px;
  padding: 10px;
  width: 300px;
}

.sign-in,
.sign-out {
  text-align: center;
  cursor: pointer;
}

.nav-item:hover {
  text-shadow: 0 0 5px lightpink, 0 0 25px lightpink, 0 0 50px #c803f4,
    0 0 100px #c803f4;
}

.cart-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.cart-button span {
  margin-left: 3px;
}

.welcome-image {
  display: flex;
  justify-content: center;
  width: 100%;
}

#modal {
  background-color: rgba(190, 162, 229, 0.774);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: right;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  max-width: 500px;
  padding: 15px;
  text-align: center;
  background: lavender;
  overflow: auto;
  height: 100%;
  /* position: relative; */
}

#modal .buttons button {
  /*display: inline-block; */
  margin-right: 15px;
}

.page-titles {
  text-align: center;
  font-size: 60px;
  background-image: url("./images/sunsetSlice1.png");
  background-size: cover;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-column-gap: 10px;
  padding: 30px;
  text-align: center;
}

.add-to-cart-button {
  cursor: pointer;
  background: transparent;
  border-color: #420a42;
  border-style: solid;
  height: 7%;

  /* grid-area: add; */
}

.add-to-cart-button:hover {
  color: lavender;
  background-color: #420a42;
}

.product-tile-hover {
  align-self: start;
}

.product-tile-hover:hover .product-image {
  background-color: rgba(213, 207, 207, 0.783);
  opacity: 60%;
}

.product-tile-hover:hover .learn-more {
  visibility: visible;
}

.learn-more {
  /* grid-area: name; */
  visibility: hidden;
}

.product-image {
  /* grid-area: image; */
  height: 300px;
  width: 300px;
}

.shop-products {
  padding: 10px;
}

.welcome-products {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.welcome-product:hover {
  text-shadow: 0 0 5px lightpink, 0 0 25px lightpink, 0 0 50px #c803f4,
    0 0 100px #c803f4;
}

button {
  font-family: "Unbounded", sans-serif;
  /* display: grid; */
}

.details-content {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "image image . ."
    "image image title title"
    "image image price price"
    "image image description description"
    "image image cart cart"
    "image image go-back go-back";
}

.details-go-back {
  display: grid;
  grid-area: go-back;
  background: transparent;
  cursor: pointer;
  border: none;
  font-size: 100%;
  margin-top: 83px;
}

.details-go-back:hover {
  text-decoration: underline;
}

.details-image {
  grid-area: image;
  height: 90%;
  width: 95%;
  align-self: center;
  justify-self: right;
}

.details-title {
  grid-area: title;
  place-self: center;
  font-size: 40px;
}

.details-description {
  grid-area: description;
  align-self: top;
  justify-self: center;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.details-price {
  grid-area: price;
  align-self: top;
  justify-self: center;
}

.details-cart {
  grid-area: cart;
  align-self: center;
}

.details-cart-styling {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.2fr 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-template-areas: ". minus amount plus . add add add .";
}

.details-plus {
  grid-area: plus;
  background: transparent;
  cursor: pointer;
  border: #420a42 solid 2px;
  border-left: none;
}

.details-amount {
  grid-area: amount;
  background: transparent;
  border-top: #420a42 solid 2px;
  border-bottom: #420a42 solid 2px;
}

.details-minus {
  grid-area: minus;
  background: transparent;
  cursor: pointer;
  border: #420a42 solid 2px;
  border-right: none;
  font-weight: 1000;
}

.details-add-to-cart-button {
  grid-area: add;
  background: transparent;
  cursor: pointer;
  border: #420a42 solid 2px;
  font-size: 110%;
}

.details-add-to-cart-button:hover {
  color: lavender;
  background-color: #420a42;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.return-home:hover {
  text-shadow: 0 0 5px lightpink, 0 0 25px lightpink, 0 0 50px #c803f4,
    0 0 100px #c803f4;
}

.cart-bottom {
  position: absolute bottom;
  margin-bottom: 15px;
  width: 100%;
}
/* */
.cart-content {
  display: grid;
  position: relative;
  grid-template-areas:
    "title . . close-button"
    "divider divider divider divider"
    "empty empty empty empty";
}

.cart-title {
  text-align: start;
  margin-top: 5px;
  font-size: 150%;
}

.cart-title-divider {
  width: 104%;
  border: solid #420a42 1px;
}

.cart-close-button {
  grid-area: close-button;
  width: 50%;
  height: 20%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 120%;
  padding: 2px;
  padding-bottom: 40px;
  /* position: absolute right; */
}

.cart-close-button:hover {
  text-shadow: 0 0 5px lightpink, 0 0 25px lightpink, 0 0 50px #c803f4,
    0 0 100px #c803f4;
}

.empty-cart {
  font-size: 18px;
  padding-top: 300px;
  padding-left: 15px;
}

.cart-product {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    "image product-info price"
    "divider divider divider";
}

.close-button {
  height: 8%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 120%;
  padding: 2px;
  /* position: absolute right; */
}

.close-button:hover {
  text-shadow: 0 0 5px lightpink, 0 0 25px lightpink, 0 0 50px #c803f4,
    0 0 100px #c803f4;
}

.cart-divider-total {
  width: 104%;
  border: solid #420a42 1px;
  margin-top: 40px;
}

.cart-total {
  display: flex;
  gap: 55%;
  font-size: 80%;
}

.checkout-button {
  background: transparent;
  cursor: pointer;
  width: 80%;
  border: #420a42 solid 2px;
  font-size: 110%;
  padding: 10px;
  margin: 0px auto;
  margin-top: 20px;
}

.checkout-button:hover {
  color: lavender;
  background-color: #420a42;
}

.cart-product-image {
  height: 100%;
  width: 95%;
  grid-area: image;
}

.cart-product-name {
  grid-area: product-info;
  text-align: left;
  margin-left: 11px;
}

.cart-product-price {
  /* grid-area: price; */
  padding-left: 30px;
}

.cart-product-buttons {
  grid-area: product-info;
}

.cart-product-plus {
  grid-area: product-info;
  grid-area: amount;
  width: 10%;
  height: 100%;
  margin-left: 57px;
  background: transparent;
  border: none;
  cursor: pointer;
  border: solid #420a42 1px;
  border-left: none;
}

.cart-product-quantity {
  grid-area: product-info;
  grid-area: amount;
  width: 10%;
  height: 100%;
  margin-left: 33px;
  border-top: solid #420a42 1px;
  border-bottom: solid #420a42 1px;
  background: transparent;
  font-size: 70%;
  padding-top: 4px;
}

.cart-product-minus {
  grid-area: product-info;
  grid-area: amount;
  width: 10%;
  height: 100%;
  margin-left: 11px;
  background: transparent;
  border: solid #420a42 1px;
  border-right: none;
  cursor: pointer;
  font-size: 100%;
}

.cart-product-remove {
  grid-area: product-info;
  grid-area: amount;
  margin-left: 90px;
  width: 10%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 60%;
}

.cart-product-divider {
  width: 104%;
  grid-area: divider;
  border-top: solid #420a42 1px;
  margin-top: 15px;
}

.cart-product-buttons-styling {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  text-align: center;
  grid-template-areas:
    ". . ."
    "amount . .";
}

.sign-in-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-template-areas:
    "image title"
    "image form"
    "image form"
    "image break"
    "image new"
    "image create";
}

.sign-in-image {
  grid-area: image;
  height: 100%;
  width: 100%;
}

.visible.visible {
  visibility: visible;
}

.password-toggle {
  cursor: pointer;
  margin-left: 3%;
  visibility: hidden;
}

.password-toggle-slash {
  cursor: pointer;
  margin-left: -19px;
  visibility: hidden;
}

.sign-in-form {
  grid-area: form;
}

.sign-in-form input {
  margin: 20px 0;
  width: 95%;
  padding: 12px;
  margin-right: 10px;
  border: 2px solid #420a42;
  background-color: lavender;
}

.sign-in-title {
  grid-area: title;
  place-self: center;
}

.sign-in-button {
  grid-area: signin;
  width: 80%;
  background: transparent;
  cursor: pointer;
  border: #420a42 solid 2px;
  font-size: 110%;
  padding: 10px;
  margin: 0px auto;
  margin-top: 20px;
  display: grid;
}

.sign-in-button:hover {
  color: lavender;
  background-color: #420a42;
}

.sign-in-divider {
  grid-area: break;
  align-self: center;
  width: 95%;
  border: 1px solid #420a42;
}

.sign-in-new {
  grid-area: new;
  align-self: start;
  justify-self: center;
  text-align: center;
}

.sign-in-create {
  grid-area: create;
  width: 80%;
  background: transparent;
  cursor: pointer;
  border: #420a42 solid 2px;
  font-size: 110%;
  padding: 10px;
  margin: 0px auto;
  display: grid;
}

.sign-in-create:hover {
  color: lavender;
  background-color: #420a42;
}

.register-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
  /* grid-template-rows: repeat(6, 1fr); */
  grid-column-gap: 20px;
  grid-template-areas:
    "image title"
    "image form"
    "image form"
    "image form"
    "image button"
    "image go-back";
}

.register-error-message {
  text-align: center;
  margin-top: -5px;
}

.hide {
  visibility: hidden;
  margin-top: -50px;
}

.register-image {
  grid-area: image;
  height: 100%;
  width: 100%;
}

.register-form {
  grid-area: form;
}

.register-form input {
  margin: 20px 0;
  width: 95%;
  padding: 12px;
  margin-right: 10px;
  border: 2px solid #420a42;
  background-color: lavender;
}

.register-title {
  grid-area: title;
  place-self: center;
}

/* .register-button {
  grid-area: button;
  width: 80%;
  background: transparent;
  cursor: pointer;
  border: #420a42 solid 2px;
  font-size: 110%;
  padding: 10px;
  margin: 0px auto;
  margin-top: 20px;
  display: grid;
} */

.register-button {
  grid-area: button;
  width: 80%;
  background: transparent;
  cursor: pointer;
  border: #420a42 solid 2px;
  font-size: 110%;
  padding: 10px;
  margin: 0px auto;
  display: grid;
  margin-top: 15px;
}

.register-button:hover {
  color: lavender;
  background-color: #420a42;
}

.register-go-back {
  grid-area: go-back;
  background: transparent;
  cursor: pointer;
  border: none;
  font-size: 110%;
  margin-top: 83px;
}

.register-go-back:hover {
  text-decoration: underline;
}

.success-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "sunset successtext";
}

.success-image {
  grid-area: sunset;
}

.thank-you {
  grid-area: successtext;
  place-self: center;
  text-align: center;
}

.success-heart {
  grid-area: successtext;
  place-self: center;
  margin-top: 150px;
}

.cancel-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "sunset canceltext";
}

.cancel-image {
  grid-area: sunset;
}

.not-complete {
  grid-area: canceltext;
  place-self: center;
  text-align: center;
}

.cancel-heart {
  grid-area: canceltext;
  place-self: center;
  margin-top: 200px;
}

.click-here {
  text-decoration: underline;
}

.welcome-new-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
  grid-template-areas:
    ". image"
    "title image"
    "sub-text image"
    "button image"
    "error-code image";
}

.welcome-new-discount-code {
  grid-area: error-code;
}

.welcome-new-title {
  grid-area: title;
  align-self: end;
}

.welcome-new-text {
  grid-area: sub-text;
  font-size: 120%;
  align-self: center;
}

.welcome-new-button {
  grid-area: button;
  width: 60%;
  height: 40%;
  background: transparent;
  cursor: pointer;
  border: #420a42 solid 2px;
  font-size: 140%;
  padding: 10px;
  margin: 0px auto;
  display: grid;
}

.welcome-new-button:hover {
  color: lavender;
  background-color: #420a42;
}

.welcome-new-error-message {
  grid-area: error-code;
}

.welcome-new-image {
  grid-area: image;
  width: 100%;
  height: 100%;
}

.sign-out-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  grid-template-areas:
    "image ."
    "image text"
    "image sub-text"
    "image .";
}

.sign-out-image {
  grid-area: image;
  height: 100%;
  width: 100%;
}

.sign-out-text {
  grid-area: text;
  align-self: end;
}

.sign-out-sub-text {
  grid-area: sub-text;
  align-self: start;
  margin: 0px;
}

.welcome-back-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
  grid-template-areas:
    ". image"
    "title image"
    "sub-text image"
    "button image"
    "error-code image";
}

.welcome-back-title {
  grid-area: title;
  align-self: end;
}

.welcome-back-text {
  grid-area: sub-text;
  font-size: 120%;
  align-self: center;
}

.welcome-back-button {
  grid-area: button;
  width: 60%;
  height: 40%;
  background: transparent;
  cursor: pointer;
  border: #420a42 solid 2px;
  font-size: 140%;
  padding: 10px;
  margin: 0px auto;
  display: grid;
}

.welcome-back-button:hover {
  color: lavender;
  background-color: #420a42;
}

.welcome-back-error-message {
  grid-area: error-code;
}
.welcome-back-discount-code {
  grid-area: error-code;
}

.welcome-back-image {
  grid-area: image;
  width: 100%;
  height: 100%;
}
